extend default

block content
  nav
    a(href="/") Home
    if (title)
      span  » #{title}

  h2 Contacts

  if (contacts)
    ul.contacts-list
      for contact in contacts
        li
          a(href="/api/contacts/#{contact.id}") #{contact.name}
          if (contact.tags.length > 0)
            br
            span.contacts-tag #{contact.tags}
          br
          if (contact.lastContactAt)
            span.contacts-date Last contact #{moment(contact.lastContactAt).fromNow()}
          else
            span.contacts-date Last contact never

  br

  form.pure-form(role='form', action="/api/contacts",method="post")
    fieldset
      input(id='name', type='text', name="name", placeholder='Contact name')
      button(type='submit').pure-button.pure-button-primary Add
