extend default

block content
  nav
    a(href="/") Home
    span &nbsp;»&nbsp;
    a(href="/api/contacts") Contacts
    span &nbsp;» #{contact.name}

  h2 #{contact.name}

  h3 Profile

  form.pure-form.pure-form-aligned(role='form', action="/api/contacts/#{contact.id}?_method=PUT",method="post")
    fieldset
      div.pure-control-group
        label(for='name') Name
        input(id='name', type='text', name='name', value="#{contact.name}" placeholder='Contact name')

      div.pure-control-group
        label(for='tags') Tags
        input(id='tags', type='text', name='tags', value='#{contact.tags}' placeholder='Enter tags')

      div.pure-control-group
        label(for='tags') Last Contact
        if (contact.lastContactAt)
          span #{moment(contact.lastContactAt).format('MM/DD/YYYY')}
        else
          span Never

      div.pure-controls
        button.pure-button.pure-button-primary(type='submit') Update

  h3 Notes

  if (contact.notes.length > 0)
    ul
    for note in contact.notes
      li #{note.body}&nbsp;
        form(role='form', action="/api/contacts/#{contact.id}/notes/#{note.id}?_method=DELETE",method="post")
          button(type='submit').pure-button.button-warning.button-xsmall.button-rounded X

    br

  form.pure-form(role='form', action="/api/contacts/#{contact.id}/notes",method="post")
    fieldset
      input(id='note', type='text', name='body', placeholder='Enter a note')
      button(type='submit').pure-button.pure-button-primary Add

  h3 Interactions

  if (contact.interactions.length > 0)
    ul
    for interaction in contact.interactions
      li #{interaction.description}&nbsp;
        form(role='form', action="/api/contacts/#{contact.id}/interactions/#{interaction.id}?_method=DELETE",method="post")
          button(type='submit').pure-button.button-warning.button-xsmall.button-rounded X

    br

  form.pure-form(role='form', action="/api/contacts/#{contact.id}/interactions",method="post")
    fieldset
      input(id='interaction', type='text', name="description", placeholder='Interaction description')
      button(type='submit').pure-button.pure-button-primary Add

  h3 Actions

  form(role='form', action="/api/contacts/#{contact.id}?_method=DELETE",method="post")
    button.pure-button.button-warning(type='submit') Delete
