extend default

block content
  nav
    a(href="/") Home
    span &nbsp;»&nbsp;
    a(href="/api/contacts") Contacts
    span &nbsp;» #{contact.name}

  h2 #{contact.name}

  form(role='form', action="/api/contacts/#{contact.id}?_method=PUT",method="post")
    label Name&nbsp;
    input(type='text', name="name", value="#{contact.name}" placeholder='Contact name')
    br
    button(type='submit') Update

  form(role='form', action="/api/contacts/#{contact.id}?_method=DELETE",method="post")
    button(type='submit') Delete

  h3 Interactions

  if (contact.interactions)
    ul
    for interaction in contact.interactions
      li #{interaction.description}

  br

  form(role='form', action="/api/contacts/#{contact.id}/interactions",method="post")
    input(type='text', name="description", placeholder='Interaction description')
    button(type='submit') Save
