extend default

block content
  nav
    a(href="/") Home
    span &nbsp;»&nbsp;
    a(href="/api/contacts") Contacts
    span &nbsp;» #{contact.name}

  h2 #{contact.name}

  h3 Profile

  form(role='form', action="/api/contacts/#{contact.id}?_method=PUT",method="post")
    label Name&nbsp;
    input(type='text', name="name", value="#{contact.name}" placeholder='Contact name')
    br
    label Tags&nbsp;
    input(type='text', name="tags", value="#{contact.tags}" placeholder='Enter tags')
    br
    button(type='submit').pure-button Update

  form(role='form', action="/api/contacts/#{contact.id}?_method=DELETE",method="post")
    span &nbsp;
    button(type='submit').pure-button Delete

  h3 Notes

  if (contact.notes.length > 0)
    ul
    for note in contact.notes
      li #{note.body}&nbsp;
        form(role='form', action="/api/contacts/#{contact.id}/notes/#{note.id}?_method=DELETE",method="post")
          button(type='submit').pure-button x

    br

  form(role='form', action="/api/contacts/#{contact.id}/notes",method="post")
    input(type='text', name="body", placeholder='Enter a note')
    button(type='submit').pure-button Add

  h3 Interactions

  if (contact.interactions.length > 0)
    ul
    for interaction in contact.interactions
      li #{interaction.description}&nbsp;
        form(role='form', action="/api/contacts/#{contact.id}/interactions/#{interaction.id}?_method=DELETE",method="post")
          button(type='submit').pure-button x

    br

  form(role='form', action="/api/contacts/#{contact.id}/interactions",method="post")
    input(type='text', name="description", placeholder='Interaction description')
    button(type='submit').pure-button Add
